{% extends 'main.html' %}
{% load static %}

{% block addcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/css/legal.css' %}">
{% endblock %}

{% block content %}
     <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 text-black legal-bg legal-text font-weight-bold">
                    <h2 class="text-uppercase mt-2 title font-weight-bold">Mentions légales</h2>
                    <hr class="divider my-4">
                    <h6> Développé par : <a href="https://github.com/K4marade/project8" target="_blank">Léonard Colin</a></h6>
                    <hr class="divider my-4">
                    <h6> Développé avec : <a href="https://www.djangoproject.com/" target="_blank">Django</a></h6>
                    <hr class="divider my-4">
                    <h6>Template : <a href="https://startbootstrap.com/theme/creative/" target="_blank">Bootstrap</a></h6>
                    <hr class="divider my-4">
                    <h6>Logo et charte graphique : <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/elements-basiques/marque-et-logo" target="_blank">Pur-Beurre Openclassrooms</a></h6>
                    <hr class="divider my-4">
                    <h6>Icônes : <a href="https://thenounproject.com/term/carrot/29691/" target="_blank">The Noun Project</a></h6>
                    <hr class="divider my-4">
                    <h6>Photos :
                        <a href="https://unsplash.com/photos/k60JspcBwKE" target="_blank">Kawin Harasai</a> et
                        <a href="https://unsplash.com/@olenka_kotyk" target="_blank">Olenka Kotyk</a>
                    </h6>
                    <hr class="divider my-4">
                    <h6>Données alimentaires : <a href="https://fr.openfoodfacts.org/" target="_blank">OpenFoodFacts</a></h6>
                    <hr class="divider my-4">
                    <h6>Site hébergé par : <a href="https://www.heroku.com/" target="_blank">Heroku</a></h6>
                    <hr class="divider my-4">
                </div>
            </div>
        </div>
    </header>
{% endblock %}

