[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
install = "*"
pytest-django = "*"
pytest-mock = "*"
pytest = "*"
mixer = "*"
fontawesome-free = "*"
pytest-cov = "*"
selenium = "*"
gunicorn = "*"
django-heroku = "*"
django-environ = "*"
setuptools = "==53.1.0"
django-widget-tweaks = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
