[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"
install = "*"
pytest-django = "*"
pytest-mock = "*"
pytest = "*"
mixer = "*"
fontawesome-free = "*"
pytest-cov = "*"
selenium = "*"

[dev-packages]

[requires]
python_version = "3.9"
