{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Pur Beurre</title>#}
{#</head>#}
{#<body>#}
{#    {% if form.errors %}#}
{#        <p>Your username and password didn't match. Please try again.</p>#}
{#    {% endif %}#}
{##}
{#    {% if next %}#}
{#        {% if user.is_authenticated %}#}
{#            <p>Your account doesn't have access to this page. To proceed,#}
{#            please login with an account that has access.</p>#}
{#        {% else %}#}
{#            <p>Please login to see this page.</p>#}
{#        {% endif %}#}
{#    {% endif %}#}
{##}
{#    <form method="post" action="{% url 'login' %}">#}
{#        {% csrf_token %}#}
{#        <table>#}
{#            <tr>#}
{#                <td>{{ form.username.label_tag }}</td>#}
{#                <td>{{ form.username }}</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>{{ form.password.label_tag }}</td>#}
{#                <td>{{ form.password }}</td>#}
{#            </tr>#}
{#        </table>#}
{#        <input type="submit" value="login" />#}
{#        <input type="hidden" name="next" value="{{ next }}" />#}
{#    </form>#}
{##}
  {# Assumes you setup the password_reset view in your URLconf #}
{#  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}
{##}
{#</body>#}
{#</html>#}

{#{% extends 'main.html' %}#}
{#{% block content %}#}
{#    <form action="{% url 'register' %}" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form }}#}
{#    <input type="submit">#}
{#    </form>#}
{#{% endblock %}#}
{##}
{##}
{#{% block content %}#}
{#    <h2>Sign up</h2>#}
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        {% for field in form %}#}
{#            {{ field.label_tag }}<br>#}
{#            {{ field }}#}
{#            {% if field.help_text %}#}
{#                <small style="color: grey">{{ field.help_text }}</small>#}
{#            {% endif %}#}
{#            {% for error in field.errors %}#}
{#                <p style="color: red">{{ error }}</p>#}
{#            {% endfor %}#}
{#        {% endfor %}#}
{#        <button type="submit">Sign up</button>#}
{#    </form>#}
{#{% endblock %}#}
{##}
{#<!--#}
{#Author: Colorlib#}
{#Author URL: https://colorlib.com#}
{#License: Creative Commons Attribution 3.0 Unported#}
{#License URL: http://creativecommons.org/licenses/by/3.0/#}
{#-->#}
{#{% load static %}#}
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#<title>Inscription Pur Beurre</title>#}
{#<meta name="viewport" content="width=device-width, initial-scale=1">#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>#}
{#<!-- Custom Theme files -->#}
{#<link href="{% static 'css/register.css' %}" rel="stylesheet" type="text/css" media="all" />#}
{#<!-- //Custom Theme files -->#}
{#<!-- web font -->#}
{#<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">#}
{#<!-- //web font -->#}
{#</head>#}
{#<body>#}
{#	<!-- main -->#}
{#	<div class="main-w3layouts wrapper">#}
{#		<h1>Inscription</h1>#}
{#		<div class="main-agileinfo">#}
{#			<div class="agileits-top">#}
{#				<form action="#" method="post">#}
{#					{% csrf_token %}#}
{#                    {% for field in form %}#}
{#                        {{ field.label_tag }}<br>#}
{#                        {{ field }}#}
{#                        {% if field.help_text %}#}
{#                            <small style="color: grey">{{ field.help_text }}</small>#}
{#                        {% endif %}#}
{#                        {% for error in field.errors %}#}
{#                            <p style="color: red">{{ error }}</p>#}
{#                        {% endfor %}#}
{#                    {% endfor %}#}
{#					<input type="submit" value="SIGNUP">#}
{#				</form>#}
{#				<p>Don't have an Account? <a href="{% url 'login' %}"> Login Now!</a></p>#}
{#			</div>#}
{#		</div>#}
{#		<!-- copyright -->#}
{#		<div class="colorlibcopy-agile">#}
{#			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>#}
{#		</div>#}
{#		<!-- //copyright -->#}
{##}
{#	</div>#}
{#	<!-- //main -->#}
{#</body>#}
{#</html>#}

{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Pur Beurre</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'main/img/logo_pur_beurre-favicon.png' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/Linearicons-Free-v1.0.0/icon-font.min.css'%}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/register.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('/static/main/img/bg-main.jpg');"></div>

			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
				<form class="login100-form validate-form" method="POST" action="">
                    {% csrf_token %}
					<span class="login100-form-title p-b-59">
						Connexion
					</span>

					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<span class="label-input100">Username</span>
                        {% render_field form.username class="input100" name="name" placeholder="username" %}
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
                        {% render_field form.password class="input100" name="pass" placeholder="******" %}
						<span class="focus-input100"></span>
					</div>

                    {% if form.errors %}
                       <div class="alert alert-warning">
                           <a class="close" href="#" data-dismiss="alert">×</a>
                           Your username and password didn't match.
                            Please try again.
                       </div>
                    {% endif %}

{#                    {% if form.errors %}#}
{#                        <p class=" label label-danger">#}
{#                        Your username and password didn't match. #}
{#                        Please try again.#}
{#                        </p>#}
{#                    {% endif %}#}


					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Connexion
							</button>
						</div>

						<a href="{% url 'register' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Créer un compte
							<i class="fa fa-long-arrow-right m-l-5"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'account/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'account/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'account/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'account/js/main.js' %}"></script>

</body>
</html>