.pb-header{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.4) 0%, rgba(92, 77, 66, 0.4) 100%),
    url("../img/searched-prod-bg.jpg");
    background-size: cover;
}

.searched-block{
    padding-top: 8rem;
    padding-bottom: calc(6rem - 4.5rem);
}

.searched-img   {
    padding: 0.30rem;
    background-color: #345A61;
    border: 4px solid;
    border-radius: 0.40rem;
    max-width: 100%;
    height: auto;
}

.body-section{
    padding: 1rem 0;
}



.category{
    font-family: "Scope One", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.img-border{
    padding: 0.50rem;
    background-color: #ffffff;
    border: 2px solid #C45525;
    border-radius: 0.40rem;
    max-width: max-content;
    height: auto;
}

.sub-text{
    font-family: "Scope One", serif;
    font-size: 30px;
    color: orangered;
}

.prod-text{
    font-family: "Scope One", serif;
}

.prod-card{
    background-color: rgba(196, 85, 37, 0.1);
    border: 3px solid #C45525;
    border-radius: 10%;
    width: 25rem;
    height: 25rem;
}

.nutriscore{
    border: 2px #345A61 solid;
    border-radius: 50%;
    font-size: 2rem;
    height: 3.5rem;
    width: 3.5rem;
    bottom: 90%;
    left: 88%;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 400}

.nutri-a{
    background-color: rgb(0, 138, 75)
}

.nutri-b{
    background-color: rgb(128, 195, 64)
}

.nutri-c{
    background-color: rgb(255, 200, 3);
}

.nutri-d{
        background-color: rgb(245, 130, 30);
}

.nutri-e{
        background-color: rgb(239, 65, 35 );
}

.save-btn{
    justify-content: center;
    position: relative;
}

.pb-text{
    text-align: center;
    font-family: "Scope One", sans-serif;
    font-size: 2rem ;
    margin-top: 3%;
}

.container-big{
    margin-bottom: 19%;
}

.nutrition-img{
    width: auto;
    max-height: 200px;
    border: 3px rgba(244, 97, 58, 0.8) solid;
    border-radius: 5%;
}

.pb-btn{
    color: #fff;
    background: radial-gradient(circle, rgba(232,167,93,1) 0%, rgba(222,148,64,1) 50%, rgba(196,85,37,1) 100%);
    border-color: #f4623a;
}

.prod-img{
    max-height: 150px;
    max-width: 200px;
}

.card-container-top{
    height: 12rem;
}

.card-container-center{
    height: 3rem;
    margin-top: 1rem;
}

.card-container-end{
    height: auto;
}