{% extends 'main.html' %}
{% load static %}

{% block addcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-center">
                    {% if favorites.count == 0 %}
                        <h2 class="text-uppercase text-white font-weight-bold">Vous n'avez aucun produit sauvegardé.</h2>
                    {% else %}
                        <h2 class="text-uppercase text-white font-weight-bold">Voici vos {{ favorites.count }} produits favoris</h2>
                    {% endif %}
                    <hr class="divider my-4" />
                </div>
            </div>
        </div>
    </header>

    <section class="body-section">
        <div class="container">
            <div class="row justify-content-center">
                {% for favorite in favorites %}
                    <div class="col-md-3 text-center mx-4 mt-3 mb-5 prod-card">
                        <div class="row card-container-top align-items-center">
                            <div class="nutriscore nutri-{{ favorite.nutriscore }} text-uppercase m-auto ">
                                {{ favorite.nutriscore }}
                            </div>
                            <div class="row align-items-start mx-auto mt-4 img-border">
                                <a href="{% url 'detail' favorite.id %}">
                                    <img class="rounded prod-img" src="{{ favorite.small_image }}" alt="product-image"/>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-5 card-container-center align-items-center">
                            <h5 class="prod-text mx-auto">{{ favorite.name }}</h5>
                        </div>

                        <div class="container mt-3">
                            <a class="btn btn-info btn-block" href="{% url 'detail' favorite.id %}" title="détail">
                                Informations produit
                            </a>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}