{% extends 'main.html' %}
{% load static %}

{% block addcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
    <header class="header-pb">
        <div class="container">
            <div class="row h-100 justify-content-center text-center">
                <div class="col-lg-10 align-self-center searched-block">
                    <h2 class="text-white font-weight-bold">
                        Bonjour <br> {{ user.get_username }} !
                        <hr class="divider my-4" />
                    </h2>
                </div>
            </div>
        </div>
    </header>

    <section class="body-section">
        <div class="container-big pb-text">
            <div class="text-center pt-1" >
                <p>Votre email : {{ user.email }}<p>
            </div>
        </div>
    </section>
{% endblock %}